<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Getting Started: Serving Web Content</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	
	<body>			
			
		<form action="/addUser" method="post">
	        <div>
	            <label for="Name">Entrer un nom: </label>
	            <input id="name" type="text" name="name">
	        </div> 
	        <div>
	            <label for="Mail">Entrer son adresse mail: </label>
	            <input id="email" type="texte" name="email">
	        </div>
	        <div>
				<select name="eventId" id="eventId">
					<option>Choisir un évenement</option>
					<option th:each = "e : ${Event}" th:value="${e.getId()}" th:text="${e.getName()}"></option>
				</select>
			</div>
	        
	        <div>
	            <input type="submit" value="Valider">
			</div>
	        	        
		</form>
		
		
	</body>
	
</html>
